<div class="container">

  <div class ="row">
    <div class ="col-lg-6">
  <%= image_tag @item.get_image_id(500,500) %>
  </div>
  <div class ="col-lg-6"><br>
  <div class="row">
    <div class="col-md-3">
<label for="name">商品名</label></div>
 <div class="col-md-6">
<h4><%= @item.name %></h4></div>
</div>
  <div class="row">
    <div class="col-md-3">
<label for="introduction">商品説明</label></div>
 <div class="col-md-6">
<p><%= @item.introduction %></p></div>
</div>
  <div class="row">
    <div class="col-md-3">
<label for="genre">ジャンル</label></div>
 <div class="col-md-6">
<p><%= @item.genre.name %></p></div>
</div>
  <div class="row">
    <div class="col-md-3">
<label for="genre">税抜き価格<br>(税込み価格)</label></div>
 <div class="col-md-6">
<h4><%= @item.price %>円</h4>
<p><%= (@item.taxin_price).floor %>円</p>
</div>
</div>
  <div class="row">
    <div class="col-md-3">
<label for="genre">販売ステータス</label></div>
 <div class="col-md-6">
<p><%= @item.is_active ? '販売中':'販売停止中' %></p></div>
</div>

<% @item_details.each do |item_detail| %>
<table class ="table table-bordered">
  <thead class="table-secondary">
<th><%= item_detail.color %></th>
<% item_detail.size_stocks.order(:size).each do |size_stock| %>
<th><%= size_stock.size %></th>
<% end %>
</thead>
  <today>
 <tr>
     <td><%= image_tag item_detail.get_image_detail_id(50,50) %></td>
<% item_detail.size_stocks.each do |size_stock| %>
<td><%= size_stock.stock %></td>
<% end %>
 </tr>
  </today>
   </table>
   <% end %>
     <%= link_to "編集",edit_admin_item_path, class: "btn btn-success btn-sm text-center" %>
     <%= link_to "在庫を見る",admin_item_stocks_path(@item), class: "btn btn-success btn-sm text-center" %>
     
     
 <h1>店舗へ配送する</h1>
  <%#= form_with model: @stock, url: {controller: 'stocks',action: 'create'} do |f| %>

             <% @item_details.each do |item_detail| %>
                <table class ="table table-bordered">
                    <thead class="table-secondary">
                        <th><%= item_detail.color %></th>
                        <th><%= image_tag item_detail.get_image_detail_id(50,50) %></th>
                        <th></th>
                    </thead>
                    <today>
                        <% item_detail.size_stocks.order(:size).each do |size_stock| %>
                        <tr>
                         
                                <td><%= size_stock.size %></td>
                                <%#= form_with model: @inventory, url: {controller: 'stocks',action: 'create'} do |f| %>
                                <td><%#= f.collection_select :store_id,Store.all, :id, :name, options = { include_blank: true} %></td>
                                    <td><%#= f.hidden_field :size_stock_id, :value => size_stock.id %>
                                    <%#= f.hidden_field :store_id, :value => @store.id %>
                                    <%#= f.select :quantity,*[1..size_stock.stock]  %></td>
                                    <td><%#= f.submit '在庫に追加する', class: " btn btn-sm btn-success" %></td>
                                <%# end %>
                          
                        </tr>
                        <% end %>
                    </today>
                </table>
                <%#= f.submit '在庫に追加する', class: " btn btn-sm btn-success" %>
<%# end %>
            <% end %>
            
           
 