<div class ="container"> 
<h4>自店舗在庫</h4>
    <table class ="table table-bordered">
        <thead>
            <th>在庫id</th>
            <th>商品名</th>
            <th>色</th>
            <th>サイズ</th>
            <th>在庫数</th>
        </thead>
        <today>
            <% @inventories.each do |inventory| %>
            <tr>
                <td><%= inventory.id %></td>
                <td><%=link_to store_item_path(inventory.size_stock.item_detail.item) do %>
                    <%= inventory.size_stock.item_detail.item.name %>
                    <% end %></td>
                <td><%= inventory.size_stock.item_detail.color %></td>
                <td><%= inventory.size_stock.size %></td>
                <td><%= inventory.quantity %></td>
            </tr>
            <%end%>
        </today>
    <table>
</div>