<div class ="container"> 
<% @item_details.each do |item_detail| %>
<h4><%= item_detail.color %></h4>
    <table>
        <% item_detail.size_stocks.order(:size).each do |size_stock| %>
        <thead>
            <th><%= size_stock.size %></th>
            <th>店舗名</th>
            <th>在庫</th>
        </thead>
        <today>
            <% size_stock.inventories.order(:store_id).each do |inventory| %>
            <tr>
                <td></td>
                <td><%=link_to store_store_path(inventory.store) do %>
                <%= inventory.store.name %>
                <% end %></td>
                <td><%= inventory.quantity %></td>
            </tr>
            <% end %>
        </today>
        <% end %>
    </table>
    <% end %>


</div>