<div class = "container">
<%= form_with model: @store, url: store_registration_path do |f| %>
<% if !defined?(password_only) || !password_only %>

<label for="name">店舗名</label>
 <div class="form-group col-md-2">
<%= f.text_field :name %></div>
<label for="address">住所</label>
 <div class="form-group col-md-2">
<%= f.text_field :address %></div>
 <label for="email">メールアドレス</label>
 <div class="form-group col-md-2">
<%= f.email_field :email %></div>
  <% end %>
  <% required = false %>
  <% if @store.new_record? %>
    <% required = true %>
  <% end %>
  <label for="password">パスワード</label>
   <div class="form-group col-md-2">
  <%= f.password_field :password, autocomplete: "off", required: required %></div>
  <label for="password">もう一度入力してください</label>
   <div class="form-group col-md-2">
  <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
  <% if @store.persisted? && !current_user.has_role?(:admin) %>
    <%= f.password_field :current_password, autocomplete: "off" %>
  <% end %>
  <%= f.submit %>
<% end %>

<%#= form_with model: @store,url:{controller: 'stores', action: 'create' } do |f| %>

</div>
<%# end %>