<div class ="container"> 
<h4>在庫を店舗に配送する</h4>

            
             
            <%= form_with model: @form,url: admin_item_stocks_path(@item), method: :post, local: true do |form| %>
            <%# binding.irb %>
          <% @item_details.each do |item_detail| %>
          <%# binding.irb %>
            
             <table>
                 <thread>
                     <tr>
                         <th><%= item_detail.color %></th>
                         <th>サイズ</th>
                         <th>配送先店舗</th>
                         <th>配送数量</th>
                     </tr>
                 </thread>
                 <today>
                   <%# binding.irb %>
                     <%= form.fields_for :inventories do |f| %>
                     <tr>
                         <td><%= f.check_box :availability %></td>
                         <td><%= f.collection_select :size_stock_id,item_detail.size_stocks.order(:size),:id, :size,options = { include_blank: true} %></td>
                         <td><%= f.collection_select :store_id,Store.all, :id, :name, options = { include_blank: true} %></td>
                         <td><%= f.select :quantity,*[1..10]  %></td>
                     </tr>
                      <%end%>
                 </today>
             </table>
             
             
             
             <%end%>
             <%= form.submit "一括登録" %>
             <%end%>
<h4>店舗在庫</h4>
<% @item_details.each do |item_detail| %>
<h4><%= item_detail.color %></h4>
    <table>
        <% item_detail.size_stocks.order(:size).each do |size_stock| %>
        <thead>
            <th><%= size_stock.size %></th>
            <th>店舗名</th>
            <th>在庫</th>
        </thead>
        <today>
            <% size_stock.inventories.order(:store_id).each do |inventory| %>
            <tr>
                <td></td>
                <td><%=link_to admin_store_path(inventory.store) do %>
                <%= inventory.store.name %>
                <% end %></td>
                <td><%= inventory.quantity %></td>
            </tr>
            <% end %>
        </today>
        <% end %>
    </table>
    <% end %>


</div>