<div class="container">
<%= form_with model: @store_item ,url: admin_delivery_path do |f| %>

<%= f.hidden_field :item_id, :value => @item.id %>
  <div class ="row">
    <div class ="col-lg-6">
  <%= image_tag @item.get_image_id(500,500) %>
  </div>
  <div class ="col-lg-6"><br>
  <div class="row">
    <div class="col-md-3">
<label for="name">商品名</label></div>
 <div class="col-md-6">
<h4><%= @item.name %></h4></div>
<%= f.hidden_field :name, :value => @item.name %>
</div>
  <div class="row">
    <div class="col-md-3">
<label for="introduction">商品説明</label></div>
 <div class="col-md-6">
<p><%= @item.introduction %></p></div>
</div>
  <div class="row">
    <div class="col-md-3">
<label for="genre">ジャンル</label></div>
 <div class="col-md-6">
<p><%= @item.genre.name %></p></div>
<%= f.hidden_field :genre_id, :value => @item.genre_id %>
</div>
  <div class="row">
    <div class="col-md-3">
<label for="genre">税抜き価格<br>(税込み価格)</label></div>
 <div class="col-md-6">
<h4><%= @item.price %>円</h4>
<p><%= (@item.price*1.1).floor %>円</p>
</div>
<%#= f.hidden_field :price, :value => @item.price %>
</div>
  <div class="row">
    <div class="col-md-3">
<label for="genre">販売ステータス</label></div>
 <div class="col-md-6">
<p><%= @item.is_active ? '販売中':'販売停止中' %></p></div>
<%= f.hidden_field :is_active, :value => @item.is_active %>
</div>
<h4>配送先店舗</h4>
<div class="row">
    <div class="form-group col-md-2">
<label for="genre">店舗選択</label></div>
 <div class="form-group col-md-2">
<%= f.select :store_id, @stores.map{|store| [store.name,store.id]} %></div>
</div> 



   <div class="item_details">
       <div class="mx-auto">
        <%= f.fields_for :item_details do |t| %>
          <%= render "item_detail_fields", f: t %>
        <% end %>
        </div>
        <div class="links">
          <%#= link_to_add_association "色追加", f, :item_details,
           class: 'btn btn-success' %>
        </div>
    </div>


<%= f.submit '更新', class: "btn btn-success btn-sm" %>
<% end %>
</div>
