<div class="container">
<%= form_with model: @stock ,url: admin_delivery_path do |f| %>
<h4>店舗在庫配送</h4>


  <div class="row">
    <div class="col-md-3">
<label for="name">商品名</label></div>
 <div class="col-md-6">
<h4><%= @stock.name %></h4></div>
</div>
  <div class="row">
    <div class="col-md-3">
<label for="introduction">商品説明</label></div>
 <div class="col-md-6">
<p><%= @stock.introduction %></p></div>
</div>
  <div class="row">
    <div class="col-md-3">
<label for="genre">ジャンル</label></div>
 <div class="col-md-6">
<p><%= @stock.genre.name %></p></div>
</div>
  <div class="row">
    <div class="col-md-3">
<label for="genre">税抜き価格<br>(税込み価格)</label></div>
 <div class="col-md-6">
<h4><%= @stock.price %>円</h4>
<p><%= (@stock.price*1.08).floor %>円</p>
</div>
</div>
  <div class="row">
    <div class="col-md-3">
<label for="genre">販売ステータス</label></div>
 <div class="col-md-6">
<p><%= @stock.is_active ? '販売中':'販売停止中' %></p></div>
</div>





<div class="row">
    <div class="form-group col-md-2">
<label for="store">配送先店舗</label></div>
 <div class="form-group col-md-2">
<%= f.select :store_id, @stores.map{|store| [store.name,store.id]} %></div>
</div>
<div class="row">
    <div class="form-group col-md-2">
<label for="img">商品画像</label></div>
 <div class="form-group col-md-2">
<%= f.file_field :image_id, accept: "image/*" %></div>
</div>
<div class="row">
    <div class="form-group col-md-2">
<label for="name">商品名</label></div>
 <div class="form-group col-md-2">
<%= f.text_field :name %></div>
</div>
<div class="row">
    <div class="form-group col-md-2">
<label for="introduction">商品説明</label></div>
 <div class="form-group col-md-2">
<%= f.text_area :introduction %></div>
</div>
<div class="row">
    <div class="form-group col-md-2">
<label for="genre">ジャンル</label></div>
 <div class="form-group col-md-2">
<%= f.select :genre_id, @genres.map{|genre| [genre.name,genre.id]} %></div>
</div>
<div class="row">
    <div class="form-group col-md-2">
<label for="introduction">税抜き価格</label></div>
 <div class="form-group col-md-3">
<%= f.number_field :price %>円</div>
</div>
<div class="row">
    <div class="form-group col-md-2">
<label for="introduction">販売ステータス</label></div>
 <div class="form-group col-md-4">
<%= f.radio_button :is_active, true %>
<%= f.label :is_active, '販売中', value: true %>
<%= f.radio_button :is_active, false %>
<%= f.label :is_active, '販売停止中', value: false %></div>
</div>

   <div class="item_details">
       <div class="mx-auto">
        <%= f.fields_for :item_details do |t| %>
          <%= render "item_detail_fields", f: t %>
        <% end %>
        </div>
        <div class="links">
          <%#= link_to_add_association "色追加", f, :item_details,
           class: 'btn btn-success' %>
        </div>
    </div>


<%= f.submit '更新', class: "btn btn-success btn-sm" %>
<% end %>
</div>
