<div class ="container"> 
<%= form_with model: @store,url:{controller: 'stores', action: 'update' } do |f| %>

    <b class="form-group col-md-2">
<label for="name">店舗名</label></b>
 <div class="form-group col-md-2">
<%= f.text_field :name %></div>
    <b class="form-group col-md-2">
<label for="email">メールアドレス</label></b>
 <div class="form-group col-md-2">
<%= f.email_field :email %></div>
<b class="form-group col-md-2">
<label for="address">住所</label></b>
 <div class="form-group col-md-2">
<%= f.text_field :address %></div>

<%= f.submit '更新', class: "btn btn-success btn-sm" %>

<% end %>
</div>
